body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-color: pink;
  font-family: 'arial', sans-serif;
  flex-direction: column;
}

.con{
  text-align: center;
  align-items: center;
  padding-top: 10%;
}

h1{
  font-size: 2.5em;
  color: black;
}

.button{
  margin-top: 20px
}

.yes{
  font-size: 1.5em;
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: rgba(240, 34, 103, 0.868);
}

.yes:active{
  opacity: 0.5;
 
}

.yes:hover{
  background-color: green;

  }
  

.no{
    font-size: 1.5em;
     padding: 10px 20px;
     background-color: rgba(240, 34, 103, 0.868);
     color: black;
     cursor: pointer;
     border-radius: 5px;
     border: none;
   } 

  .no:hover{
    background-color: red;
    
   }

  .no:active{
    opacity: 0.5;
  }

    .gif img{
    max-width: 100%;
    height:auto;
    border-radius: 10px;
    margin-top: 27px;
    align-items: center;
  }

.t1{
  display: flex;
  margin-top: 10cap;
  font-family: sans-serif;
  flex-direction: row;
  font-size: 1.3ch;
  color: black;
}

.link1{
  padding-left: 4px;
  text-decoration: none;
  color: black;
}


  